.Chatbox {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 100%;
  width: 600px;
}

input {
  margin-left: 80px;
  background: green;
  border: 0;

  &:hover {
    margin-left: 200px;
  }

  &:focus {
    margin-top: 22px;
  }
}
